mat-card {
    text-align: center;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-bottom: 20px;

    h2 {
        height: 10px;
    }

    img {
      margin-top: 15px;
    height: 280px;
    object-fit: cover;
    }

div {
  margin-bottom: 10px;
}

    mat-card-actions{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    button{
        box-sizing: border-box;
        transition: box-shadow 0.2s ease-in-out;
        margin-bottom: 10px;


        &:hover{
            box-shadow:0 0  15px pink;
        }
    }

}
