
<mat-card class="contenedor">
<mat-card-header>

  <div mat-card-avatar class="portada"></div>
    <mat-card-title class="titulo">Encontrá aquí todo lo que buscas!!</mat-card-title>
    <mat-card-subtitle class="subtitulo">Disfrutá comprando</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../../assets/portada.jpg" alt="personas comprando" class="imagen"> <mat-card-content>
    <p class="texto"><b>
      En este sitio encontrarás todo lo que necesitas: Artículos de belleza, accesorios para mujer,
      accesorios para hombre, artículos para el hogar, ropa y muchas cosas más!! </b>
    </p>
  </mat-card-content>

</mat-card>
